
<p-dialog
  header="{{ modalType }} Viaje"
  [(visible)]="displayAddEditModal"
  [modal]="true"
  [style]="{ 'width': '85vw', 'height': '100vh' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="closeModal()"
>

<form [formGroup]="viajeForm" class="viaje-form">
  <div class="field">
    <label class="block" for="codigoViaje">Código Viaje</label>
    <input type="text" pInputText id="codigoViaje" formControlName="codigoViaje" />
    <small
      class="p-error block"
      *ngIf="
        viajeForm.controls['codigoViaje'].invalid &&
        viajeForm.controls['codigoViaje'].dirty
      "
      >Campo requerido</small
    >
  </div>


<div class="flex-container">
<div class="field">
  <label class="block" for="fecha">Fecha</label>

  <p-calendar formControlName="fecha" 
  [iconDisplay]="'input'" 
  [showIcon]="true" 
  inputId="icondisplay" ></p-calendar>

  <small class="p-error block" 
  *ngIf="viajeForm.controls['fecha'].invalid 
  && viajeForm.controls['fecha'].dirty">
    Campo requerido
  </small>
</div>

  <div class="field">
    <label class="block" for="horaInicio">Hora de Inicio</label>
    <p-calendar formControlName="horaInicio"
    inputId="calendar-timeonly" 
    [(ngModel)]="time1"
    [timeOnly]="true" ></p-calendar>

    <small
      class="p-error block"
      *ngIf="
        viajeForm.controls['horaInicio'].invalid &&
        viajeForm.controls['horaInicio'].dirty
      "
      >Campo requerido</small
    >
  </div>

  <div class="field">
    <label class="block" for="horaFin">Hora de Fin</label>
    <p-calendar formControlName="horaFin"
    inputId="calendar-timeonly" 
    [(ngModel)]="time2"
    [timeOnly]="true" ></p-calendar>
  
    <small
      class="p-error block"
      *ngIf="
        viajeForm.controls['horaFin'].invalid &&
        viajeForm.controls['horaFin'].dirty
      "
      >Campo requerido</small
    >
  </div>
</div>

  <div class="flex-container">
  <div class="field">
    <label class="block" for="precioNormal">Precio Normal</label>
    <p-inputNumber
      id="price"
      formControlName="precioNormal"
      class="block"
    ></p-inputNumber>
    <small
      class="p-error block"
      *ngIf="
        viajeForm.controls['precioNormal'].invalid &&
        viajeForm.controls['precioNormal'].dirty
      "
      >Field is required</small
    >
  </div>


  <div class="field">
    <label class="block" for="precioDiferenciado">Precio Diferenciado</label>
    <p-inputNumber
      id="price"
      formControlName="precioDiferenciado"
      class="block"
    ></p-inputNumber>
    <small
      class="p-error block"
      *ngIf="
        viajeForm.controls['precioDiferenciado'].invalid &&
        viajeForm.controls['precioDiferenciado'].dirty
      "
      >Field is required</small
    >
  </div>

</div>

  <!-- <div class="field">
    <label class="block" for="idConductor">Conductor</label>
    <input type="text" pInputText id="idConductor" formControlName="idConductor" />
    <small
      class="p-error block"
      *ngIf="
        viajeForm.controls['idConductor'].invalid &&
        viajeForm.controls['idConductor'].dirty
      "
      >Campo requerido</small
    >
  </div> -->

  <!-- <div class="field">
    <label class="block" for="idAyudante">Ayudante</label>
    <input type="text" pInputText id="idAyudante" formControlName="idAyudante" />
    <small
      class="p-error block"
      *ngIf="
        viajeForm.controls['idAyudante'].invalid &&
        viajeForm.controls['idAyudante'].dirty
      "
      >Campo requerido</small
    >
  </div> -->


</form>

<p> Seleccione Conductor </p>
<p-card>
      <div class="flex justify-content-between">
          <div class="flex justify-content-between">

          <select [(ngModel)]="selectedFilter">
              <option value="cedula">Cedula</option>
              <option value="nombre">Nombres</option>
              <option value="apellido">Apellidos</option>
              <option value="tipo">Tipo</option>
          </select>
          <input type="text" pInputText placeholder="Search " (input)="filterBy($event)" />  
      </div>
      <div class="field">
        <label class="block" for="idConductor">Conductor Seleccionado Cedula: {{ selectedEmpleadoC?.cedula }}</label>
      </div>

  </div>

<p-table [value]="empleados" >  
  <ng-template pTemplate="header">
    <tr>
      <th>IDEMPLEADO</th>
      <th>CEDULA</th>
      <th>NOMBRES</th>
      <th>APELLIDOS</th>
      <!-- <th>TIPO</th> -->
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-empleado >
    <tr >
      <td>{{ empleado.idEmpleado }}</td>
      <td>{{ empleado.cedula}}</td>
      <td>{{ empleado.nombre }}</td>
      <td>{{ empleado.apellido }}</td>
      <td>{{ empleado.tipo}}</td> 
    <td>
      <p-button
          (click)="seleccionarConductor(empleado)"
          label="Seleccionar"
        ></p-button>
    </td>
  </tr>

  </ng-template>

</p-table>

</p-card>

<p> Seleccione Ayudante </p>
<p-card>
  <div class="flex justify-content-between">
      <div class="flex justify-content-between">

      <select [(ngModel)]="selectedFilter">
          <option value="cedula">Cedula</option>
          <option value="nombre">Nombres</option>
          <option value="apellido">Apellidos</option>
          <option value="tipo">Tipo</option>
      </select>
      <input type="text" pInputText placeholder="Search " (input)="filterBy($event)" />
  </div>

  <div class="field">
    <label class="block" for="idAyudante">Ayudante Seleccionado Cedula: {{ selectedEmpleadoA?.cedula }}</label>
  </div>



</div>

<p-table [value]="empleados" >  
<ng-template pTemplate="header">
<tr>
  <th>IDEMPLEADO</th>
  <th>CEDULA</th>
  <th>NOMBRES</th>
  <th>APELLIDOS</th>
  <!-- <th>TIPO</th> -->
</tr>
</ng-template>
<ng-template pTemplate="body" let-empleado >
<tr >
  <td>{{ empleado.idEmpleado }}</td>
  <td>{{ empleado.cedula}}</td>
  <td>{{ empleado.nombre }}</td>
  <td>{{ empleado.apellido }}</td>
   <td>{{ empleado.tipo}}</td> 
<td>
  <p-button
      (click)="seleccionarAyudante(empleado)"
      label="Seleccionar"
    ></p-button>
</td>
</tr>

</ng-template>

</p-table>

</p-card>

<p> Seleccione Unidad </p>
<p-card >
      <div class="flex justify-content-between">
          <div class="flex justify-content-between">
          <select [(ngModel)]="selectedFilterU">
              <option value="codigo_unidad">Codigo de Unidad</option>
              <option value="placa">Placa</option>
              <option value="cantidad_asientos">Cantidad de Asientos</option>
              <option value="estado">Estado</option>
          </select>

          <input type="text" pInputText placeholder="SearchU " (input)="filterByU($event)" />
        
      </div>

      <div class="field">
        <label class="block" for="idUnidad">Unidad Seleccionada Placa: {{ selectedUnidad?.placa }}</label>
      </div>


  </div>

<p-table [value]="unidades" >  
  <ng-template pTemplate="header">
    <tr>
      <th>ID_UNIDAD</th>
      <th>CODIGO_UNIDAD</th>
      <th>PLACA</th>
      <th>CANTIDAD ASIENTOS</th>
      <th>ESTADO</th>
    </tr>

  </ng-template>
  <ng-template pTemplate="body" let-unidad >
    <tr >
      <td>{{ unidad.idUnidad }}</td>
      <td>{{ unidad.codigoUnidad}}</td>
      <td>{{ unidad.placa }}</td>
      <td>{{ unidad.cantidadAsientos }}</td>
      <td>{{ unidad.estado}}</td>
      <td>
        <p-button
            (click)="seleccionarUnidad(unidad)"
            label="Seleccionar"
          ></p-button>
      </td>
  </tr>

  </ng-template>
</p-table>
</p-card> 


<ng-template pTemplate="footer">
        <p-button
          (click)="closeModal()"
          label="Cancel"
          styleClass="p-button-text"
        ></p-button>
        <p-button
          (click)="addEditViaje()"
          label="{{ modalType }}"
          [disabled]="viajeForm.invalid"
        ></p-button>
</ng-template>

 
</p-dialog>