
<p-dialog
  header="{{ modalType }} ruta"
  [(visible)]="displayAddEditModal"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="closeModal()"
>
  <form [formGroup]="rutaForm" class="ruta-form">
    <!-- <p>Seleccionar Compania</p>
    <div>
      <p-button icon="pi pi-search" label="Buscar Compania" (click)="showAddModalCompania()" severity="info"></p-button>
    </div> -->

    <h4>Seleccionar Compania: <i class="pi pi-search"  severity="info" style="font-size: 1rem; margin-left: 20px;" (click)="showAddModalCompania()">Buscar</i></h4>
        
    <p>Nombre: {{ selectedCompania?.nombreCompania}} <br>
    Direccion: {{ selectedCompania?.direccion }}</p>
<hr>
    <div class="field">
      <label class="block" for="nombreRuta">Nombre de ruta</label>
      <input type="text" pInputText id="nombreRuta" formControlName="nombreRuta" />
      <small
        class="p-error block"
        *ngIf="
          rutaForm.controls['nombreRuta'].invalid &&
          rutaForm.controls['nombreRuta'].dirty
        "
        >Field is required</small
      >
    </div>

    <div class="field">
      <label class="block" for="origenRuta">Origen Ruta</label>
      <input type="text" pInputText id="origenRuta" formControlName="origenRuta" />
      <small
        class="p-error block"
        *ngIf="
          rutaForm.controls['origenRuta'].invalid &&
          rutaForm.controls['origenRuta'].dirty
        "
        >Field is required</small
      >
    </div>

    <div class="field">
      <label class="block" for="destinoRuta">Destino Ruta</label>
      <input type="text" pInputText id="destinoRuta" formControlName="destinoRuta" />
      <small
        class="p-error block"
        *ngIf="
          rutaForm.controls['destinoRuta'].invalid &&
          rutaForm.controls['destinoRuta'].dirty
        "
        >Field is required</small
      >
    </div>
    
  </form>

<ng-template pTemplate="footer">
        <p-button
          (click)="closeModal()"
          label="Cancelar"
          styleClass="p-button-text"
        ></p-button>
        <p-button
          (click)="registrarRuta()"
          label="Guardar"
          [disabled]="rutaForm.invalid"
        ></p-button>
</ng-template>
</p-dialog>





<!-- Companias -->
<p-dialog
  header="Buscar Compania"
  [(visible)]="displayDetallesModalCompania"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="closeModalCompania()"
>



  <div class="flex-container">

    <div   class="field">
    
      <p>
        Nombre: {{ selectedCompania?.nombreCompania}} <br>
        Direccion: {{ selectedCompania?.direccion }}
      </p>
    
        </div>
     <div class="field"  style=" margin-top:20px">
      <p-button
      (click)="closeModalCompania()"
      label="Aceptar"
      class="p-button-success"
      severity="success"
      ></p-button>
      </div>
    
    </div>

  <hr>
<p style=" margin-top: 20px"  > Seleccione Compania </p>
      <div class="flex justify-content-between">
          <div class="flex justify-content-between">
          <select [(ngModel)]="selectedFilter">
            <option value="nombreCompania">Nombre</option>
            <option value="direccion">Direccion</option>
          </select>
          <input type="text" pInputText placeholder="SearchU " (input)="filterBy($event)" />
      </div>
  </div>
  <p-table [value]="companias"
  styleClass="custom-table p-datatable-gridlines"
  [paginator]="true" 
  [rows]="4" 
   >  
     <ng-template pTemplate="header">
       <tr>
         <th>NOMBRE</th>
         <th>DIRECCION</th>
         <th>Seleccion</th>
       </tr>
     </ng-template>
     <ng-template pTemplate="body" let-compania >
       <tr >
         <td>{{ compania.nombreCompania }}</td>
         <td>{{ compania.direccion}}</td>
         <td>

        
            <i class="pi pi-check" style="font-size: 1rem ; margin-right: 50px; " (click)="seleccionarCompania(compania)" ></i>
        </td>
     </tr>
     </ng-template>
   </p-table>
</p-dialog>


