
<p-dialog
  header="{{ modalType }} comunicado"
  [(visible)]="displayAddEditModal"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="closeModal()"
>

  <form [formGroup]="comunicadoForm" class="comunicado-form">

      


   <div class="field">

      <label class="block" for="descripcion">Ingrese Descripcion</label>

      <!-- <input type="textArea" pInputTextArea id="descripcion" formControlName="descripcion" />
       -->
      <textarea 
          rows="5" 
          cols="30" 
          pInputTextArea id="descripcion" 
          formControlName="descripcion">
      </textarea>
 
      <small
        class="p-error block"
        *ngIf="
          comunicadoForm.controls['descripcion'].invalid &&
          comunicadoForm.controls['descripcion'].dirty
        "
        >Field is required</small
      >
    </div> 



  </form>

<ng-template pTemplate="footer">
        <p-button
          (click)="closeModal()"
          label="Cancel"
          styleClass="p-button-text"
        ></p-button>
        <p-button
          (click)="registrarComunicado()"
          label="{{ modalType }}"
          [disabled]="comunicadoForm.invalid"
        ></p-button>
</ng-template>

 
</p-dialog>