<p-card header="Gestion de Empleados">

    <p-card >

        <div class="flex justify-content-between">
          
            <div class="flex justify-content-between">

            <select [(ngModel)]="selectedFilter">
                <option value="cedula">Cedula</option>
                <option value="nombre">Nombres</option>
                <option value="apellido">Apellidos</option>
                <option value="tipo">Tipo</option>
            </select>

            <input type="text" pInputText placeholder="Search " (input)="filterBy($event)" />
          
        </div>
        <div class="flex justify-content-between">
            <p-button label="Agregar empleado" (click)="showAddModal()"></p-button>
        </div>

    </div>


</p-card>

 <p-table [value]="empleados" >  
    <ng-template pTemplate="header">
      <tr>
        <th>IDEMPLEADO</th>
        <th>CEDULA</th>
        <th>NOMBRES</th>
        <th>APELLIDOS</th>
        <th>DIRECCION</th>
        <th>TIPO</th>
        <th>CODIGOACCESO</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-empleado >
      <tr >
        <td>{{ empleado.idEmpleado }}</td>
        <td>{{ empleado.cedula}}</td>
        <td>{{ empleado.nombre }}</td>
        <td>{{ empleado.apellido }}</td>
        <td>{{ empleado.direccion}}</td>
        <td>{{ empleado.tipo}}</td>
        <td>{{ empleado.codigoAcceso}}</td>
      <td>

        <button
          pButton
          icon="pi pi-pencil"
          class="p-button-rounded p-button-success mr-2"
          (click)="showEditModal(empleado)"
        ></button>

        <button
          pButton
          icon="pi pi-trash"
          class="p-button-rounded p-button-warning"
          (click)="eliminarEmpleado(empleado)"
        ></button>

      </td>
    </tr>

    </ng-template>

  </p-table>

<app-add-edit-empleado

[displayAddEditModal]="displayAddEditModal"
[selectedEmpleado]="selectedEmpleado"
(clickClose)="hideAddModal($event)"
(clickAddEdit)="saveorUpdateEmpleadoList($event)"

></app-add-edit-empleado>

<p-confirmDialog header="Delete"></p-confirmDialog>

<p-toast position="bottom-right"></p-toast>  

</p-card>