 
 <div class="card-container">
  <div class="card-wrapper">
    
    <p-card >
      <h2 class="header-text">Login</h2>
    <form [formGroup]="loginForm" class="login-form">
        <div class="field">
          <label class="block" for="usuario">Usuario:(root)</label>
          <input type="text" pInputText id="usuario" formControlName="usuario" />
          <small
            class="p-error block"
            *ngIf="
              loginForm.controls['usuario'].invalid &&
              loginForm.controls['usuario'].dirty
            "
            >Field is required</small
          >
        </div>

        <div class="field">
          <label class="block" for="contraseña">Contraseña:(root)</label>
          <input type="text" pInputText id="contraseña" formControlName="contraseña" />
          <small
            class="p-error block"
            *ngIf="
              loginForm.controls['contraseña'].invalid &&
              loginForm.controls['contraseña'].dirty
            "
            >Field is required</small
          >
        </div>
      
      </form>
    
    <ng-template pTemplate="footer">
        <div class="flex justify-content-center">
            <p-button label="Ingresar" (click)="ingresar()"></p-button>
        </div>
    </ng-template>
      
</p-card> 


</div>

</div>