  
 <div class="card-container">
  <div class="card-wrapper">
   
    <p-card >
      <h2 class="header-text">Login</h2>
    <form [formGroup]="loginForm" class="login-form">
        <div class="field">
          <label class="block" for="username">username:(root)</label>
          <input type="text" pInputText id="username" formControlName="username" />
          <small
            class="p-error block"
            *ngIf="
              loginForm.controls['username'].invalid &&
              loginForm.controls['username'].dirty
            "
            >Field is required</small
          >
        </div>

        <div class="field">
          <label class="block" for="password">password:(root)</label>
          <input type="text" pInputText id="password" formControlName="password" />
          <small
            class="p-error block"
            *ngIf="
              loginForm.controls['password'].invalid &&
              loginForm.controls['password'].dirty
            "
            >Field is required</small
          >
        </div>
      
      </form>
    
    <ng-template pTemplate="footer">

        <div class="flex justify-content-center">

          <p-button label="Cancelar" severity="secondary"  (click)="cancelar()"></p-button>   

          <p-button label="Ingresar" (click)="login()"></p-button>

        </div>

    </ng-template>
</p-card> 


</div>

</div>


<p-confirmDialog header="Credeciales"></p-confirmDialog>

<p-toast position="bottom-right"></p-toast>     

<!-- 
<form [formGroup]="loginForm">
  <p class="text-danger">{{loginError}}</p>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email</label>
    <input formControlName="username" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">  
      <div *ngIf="email.invalid && (email.dirty || email.touched)"
          class="text-danger">
          <div *ngIf="email.errors?.['required']">
              El Email es requerido.
          </div>
          <div *ngIf="email.errors?.['email']">
              El Email debe tener un formato válido.
          </div>
      </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
      <div *ngIf="password.invalid && (password.dirty || password.touched)"
          class="text-danger">
          <div *ngIf="password.errors?.['required']">
              El Password es requerido.
          </div>
      </div> 
  </div>
  <button type="submit" (click)="login()" class="btn btn-primary">Iniciar Sesión</button>
</form> 
 -->
