
<p-dialog
  header="{{ modalType }} Unidad"
  [(visible)]="displayAddEditModal"
  [modal]="true"
  [style]="{ width: '40vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="closeModal()"
>
  <form [formGroup]="unidadForm" class="unidad-form full-height">
    <div class="field">
      <label class="block" for="codigoUnidad">Codigo Unidad</label>
      <input type="text" pInputText id="codigoUnidad" formControlName="codigoUnidad" />
      <small
        class="p-error block"
        *ngIf="
          unidadForm.controls['codigoUnidad'].invalid &&
          unidadForm.controls['codigoUnidad'].dirty
        "
        >Field is required</small
      >
    </div>
    <div class="field">
        <label class="block" for="placa">Placa</label>
        <input type="text" pInputText id="placa" formControlName="placa" />
        <small
          class="p-error block"
          *ngIf="
            unidadForm.controls['placa'].invalid &&
            unidadForm.controls['placa'].dirty
          "
          >Field is required</small
        >
      </div>
    <div class="field">
      <label class="block" for="cantidadAsientos">Cantidad de Asientos</label>
      <p-inputNumber
        id="price"
        formControlName="cantidadAsientos"
        class="block"
      ></p-inputNumber>
      <small
        class="p-error block"
        *ngIf="
          unidadForm.controls['cantidadAsientos'].invalid &&
          unidadForm.controls['cantidadAsientos'].dirty
        "
        >Field is required</small
      >
    </div>
  </form>

 <ng-template pTemplate="footer">

        <p-button
          (click)="closeModal()"
          label="Cancelar"
          styleClass="p-button-text"
        ></p-button>
        
        <p-button
          (click)="registrarUnidad()"
          label="Guardar"
          [disabled]="unidadForm.invalid"
        ></p-button>

</ng-template> 
</p-dialog>