<h2>Gestion de viajes</h2>

   
        <div class="flex justify-content-between">

            <div class="flex justify-content-between">
            <select [(ngModel)]="selectedFilter">
              <option value="codigoViaje">Código de Viaje</option>
              <option value="ruta">Ruta</option>
              <option value="fecha">Fecha</option>
              <option value="horaInicio">Hora de Inicio</option>
              <option value="horaFin">Hora de Fin</option>
              <option value="placaUnidad">Placa de Unidad</option>
              <option value="conductor">Conductor</option>
              <option value="ayudante">Ayudante</option>
              <option value="estado">Estado</option>
            </select>

            <input type="text" pInputText placeholder="Search " (input)="filterBy($event)" />
  
        </div>

        <div class="flex justify-content-between">
            <p-button label="Agregar viaje" (click)="showAddModal()"></p-button>
        </div>

    </div>

 <p-table [value]="viajes" 
 styleClass="custom-table p-datatable-gridlines"
 [paginator]="true" 
 [rows]="5" 
 >  
    <ng-template pTemplate="header">
      <tr>
        <!-- <th>idViaje</th> -->
        <th>CODIGO VIAJE</th>
        <th>RUTA</th> 
        <th>FECHA</th>
        <th>HORA INICIO</th>
        <th>HORA FIN</th>
        <!-- <th>PRECIO NORMAL</th>
        <th>PRECIO DIFERENCIADO</th> -->
        <th>UNIDAD</th>
        <th>CONDUCTOR</th>  
        <th>AYUDANTE</th>  
        <th>ESTADO</th> 
        <th>OPCIONES</th> 
      </tr>


    </ng-template>
    <ng-template pTemplate="body" let-viaje >
      <tr >
        <!-- <td>{{ viaje.idViaje }}</td> -->
        <td>{{ viaje.codigoViaje }}</td>
        <td>{{ viaje.ruta?.nombreRuta }}</td> 
        <td>{{ viaje.fecha | date: 'dd/MM/yyyy' }}</td> <!-- Muestra solo la fecha -->
        <td>{{ viaje.horaInicio | date: 'HH:mm:ss' }}</td> <!-- Muestra solo la hora de inicio -->
        <td>{{ viaje.horaFin | date: 'HH:mm:ss' }}</td> 
        <!-- <td>{{ viaje.precioNormal }}</td>
        <td>{{ viaje.precioDiferenciado }}</td> -->
        <td>{{ viaje.unidad?.placa }}</td>
        <td>{{ viaje.conductor ? (viaje.conductor?.nombre + ' ' + viaje.conductor?.apellido) : '' }}</td> 
        <td>{{ viaje.ayudante ? (viaje.ayudante?.nombre + ' ' + viaje.ayudante?.apellido) : '' }}</td> 
        <td>{{ viaje.estado ? 'Progreso' : 'Inactivo' }}</td>
      <td>

        <i class="pi pi-pencil" style="font-size: 1rem ; margin-right: 30px; "  (click)="showEditModalV(viaje)"></i>
        <i class="pi pi-trash" style="font-size: 1rem; "  (click)="eliminarViaje(viaje)"></i>

      </td>
    </tr>

    </ng-template>

  </p-table>


<!-- <app-add-edit-viaje

[displayAddEditModal]="displayAddEditModal"
[selectedViaje]="selectedViaje"
(clickClose)="hideAddModal($event)"
(clickAddEdit)="saveorUpdateViajeList($event)"

></app-add-edit-viaje>  -->

<p-confirmDialog header="Delete"></p-confirmDialog>

<p-toast position="bottom-right"></p-toast> 







<!-- crear horarios  -->

<p-dialog
  header="Detalles"
  [(visible)]="displayDetallesModal"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="closeModal2()"
>
<p> Datos de Viaje </p>
<!-- Ruta: {{selectedViaje.ruta.nombreRuta}}
Origen Ruta: {{ selectedViaje.ruta.origenRuta }}
Destino Ruta {{ selectedViaje.ruta.destinoRuta}}
 -->
<ng-template pTemplate="footer">
        <p-button
          (click)="closeModal()"
          label="Cancel"
          styleClass="p-button-text"
        ></p-button>
        <p-button
          (click)="registrarViaje()"
          label="{{ modalType }}"
          [disabled]="viajeForm.invalid"
        ></p-button>
</ng-template>
</p-dialog>


<!-- Conductor -->
<p-dialog
  header="Buscar Conductor"
  [(visible)]="displayDetallesModalConductor"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="closeModalConductor()"
>


        
<div class="flex-container">

  <div class="field">
    <h5>
      Cedula: {{ selectedEmpleadoC?.cedula}}
    </h5>
    <h5>
      Nombre: {{ selectedEmpleadoC?.nombre }}
      {{ selectedEmpleadoC?.apellido }}
    </h5>
  </div>

  <div class="field" >
    <p-button
    (click)="closeModalConductor()"
    label="Aceptar"
    class="p-button-success"
    severity="success"
  ></p-button>
    </div>
</div>

<p style=" margin-top: 50px"  > Seleccione Conductor </p>

      <div class="flex justify-content-between">
          <div class="flex justify-content-between">

          <select [(ngModel)]="selectedFilter">
              <option value="cedula">Cedula</option>
              <option value="nombre">Nombres</option>
              <option value="apellido">Apellidos</option>
              <option value="tipo">Tipo</option>
          </select>
          <input type="text" pInputText placeholder="Search " (input)="filterByE($event)" />  
      </div>
     

  </div>

<p-table [value]="empleados" 
 styleClass="custom-table p-datatable-gridlines"
 >  
  <ng-template pTemplate="header">
    <tr>
      <!-- <th>IDEMPLEADO</th> -->
      <th>CEDULA</th>
      <th>NOMBRES</th>
      <th>APELLIDOS</th>
      <!-- <th>TIPO</th> -->
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-empleado >
    <tr >
      <!-- <td>{{ empleado.idEmpleado }}</td> -->
      <td>{{ empleado.cedula}}</td>
      <td>{{ empleado.nombre }}</td>
      <td>{{ empleado.apellido }}</td>
      <td>{{ empleado.tipo}}</td> 
    <td>
      <p-button
          (click)="seleccionarConductor(empleado)"
          icon="pi pi-check"
        ></p-button>
    </td>
  </tr>

  </ng-template>

</p-table>


</p-dialog>


<!-- Ayudante -->
<p-dialog
  header="Buscar Ayudante"
  [(visible)]="displayDetallesModalAyudante"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="closeModalAyudante()"
>

<div class="flex-container">

  <div class="field">

    <h5>
      Cedula: {{ selectedEmpleadoA?.cedula}}
    </h5>
    <h5>
      Nombre: {{ selectedEmpleadoA?.nombre }}
      {{ selectedEmpleadoA?.apellido }}
    </h5>
  </div>

  <div class="field" >
    <p-button
    (click)="closeModalAyudante()"
    label="Aceptar"
    class="p-button-success"
    severity="success"
    ></p-button>
    </div>
</div>



<p style=" margin-top: 10px"  > Seleccione Ayudante </p>
  <div class="flex justify-content-between">
      <div class="flex justify-content-between">
      <select [(ngModel)]="selectedFilter">
          <option value="cedula">Cedula</option>
          <option value="nombre">Nombres</option>
          <option value="apellido">Apellidos</option>
          <option value="tipo">Tipo</option>
      </select>
      <input type="text" pInputText placeholder="Search " (input)="filterByE($event)" />
  </div>
  <!-- <div class="field">
    <label class="block" for="idAyudante">Ayudante Seleccionado Cedula: {{ selectedEmpleadoA?.cedula }}</label>
  </div> -->
</div>


<p-table [value]="empleados"

styleClass="custom-table p-datatable-gridlines"
>  
<ng-template pTemplate="header">
<tr>
  <!-- <th>IDEMPLEADO</th> -->
  <th>CEDULA</th>
  <th>NOMBRES</th>
  <th>APELLIDOS</th>
  <!-- <th>TIPO</th> -->
</tr>
</ng-template>
<ng-template pTemplate="body" let-empleado >
<tr >
  <!-- <td>{{ empleado.idEmpleado }}</td> -->
  <td>{{ empleado.cedula}}</td>
  <td>{{ empleado.nombre }}</td>
  <td>{{ empleado.apellido }}</td>
   <td>{{ empleado.tipo}}</td> 
<td>
  <p-button
      (click)="seleccionarAyudante(empleado)"
      icon="pi pi-check"
    ></p-button>
</td>
</tr>
</ng-template>
</p-table>

</p-dialog>




<!-- Unidad -->
<p-dialog
  header="Buscar Unidad"
  [(visible)]="displayDetallesModalUnidad"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="closeModalUnidad()"
>

<p>Seleccione Unidad</p>
  <div class="flex-container">

    <div class="field">
      <h5 >Codigo Unidad: {{ selectedUnidad?.codigoUnidad}}</h5>
      <h5> Placa:         {{ selectedUnidad?.placa }}</h5>
      <h5>Cantidad Asientos:         {{ selectedUnidad?.cantidadAsientos }}</h5>
    </div>

    <div class="field" >
      <p-button 
      (click)="closeModalUnidad()"
      label="Aceptar"
      class="p-button-success"
      severity="success"

      ></p-button>  
      </div>
  </div>

<p style=" margin-top: 10px"  > Seleccione Unidad </p>

      <div class="flex justify-content-between">
          <div class="flex justify-content-between">
          <select [(ngModel)]="selectedFilterU">
              <option value="codigo_unidad">Codigo de Unidad</option>
              <option value="placa">Placa</option>
              <option value="cantidad_asientos">Cantidad de Asientos</option>
              <option value="estado">Estado</option>
          </select>
          <input type="text" pInputText placeholder="SearchU " (input)="filterByU($event)" />
      </div>
      <!-- <div class="field">
        <label class="block" for="idUnidad">Unidad Seleccionada Placa: {{ selectedUnidad?.placa }}</label>
      </div> -->
  </div>
<p-table [value]="unidades" 
styleClass="custom-table p-datatable-gridlines"
>  
  <ng-template pTemplate="header">
    <tr>
      <!-- <th>ID_UNIDAD</th> -->
      <th>CODIGO_UNIDAD</th>
      <th>PLACA</th>
      <th>CANTIDAD ASIENTOS</th>
      <th>ESTADO</th>
    </tr>

  </ng-template>
  <ng-template pTemplate="body" let-unidad >
    <tr >
      <!-- <td>{{ unidad.idUnidad }}</td> -->
      <td>{{ unidad.codigoUnidad}}</td>
      <td>{{ unidad.placa }}</td>
      <td>{{ unidad.cantidadAsientos }}</td>
      <td>{{ unidad.estado}}</td>
      <td>
        <p-button
            (click)="seleccionarUnidad(unidad)"
            icon="pi pi-check"
          ></p-button>
      </td>
  </tr>

  </ng-template>
</p-table>
</p-dialog>



<!-- 
//agregar editar -->
<p-dialog
  header="Editar Viaje"
  [(visible)]="displayEditModalV"
  [modal]="true"
  [style]="{ 'width': '60vw', 'height': '100vh' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="closeModalV()"
>

<h5 *ngIf="selectedViaje">Código de viaje: {{ selectedViaje.codigoViaje }}</h5>
<h5 *ngIf="selectedViaje">Fecha: {{ selectedViaje.fecha  | date: 'yyyy-MM-dd'}}      
 Hora Inicio: {{ selectedViaje.horaInicio | date: 'HH:mm' }} 
Hora Fin: {{ selectedViaje.horaFin | date: 'HH:mm'}}</h5>

<hr>

<h3>Seleccione Conductor:</h3>
<div class="flex-container">
  <div class="field">
    <p-button icon="pi pi-search" label="Buscar" (click)="showAddModalConductor(selectedViaje)"  severity="secondary"></p-button>
  </div>
  <div class="field">
    <h5>Cedula: {{ selectedEmpleadoC?.cedula }}</h5>
    <h5> Nombre: {{ selectedEmpleadoC?.nombre }} {{ selectedEmpleadoC?.apellido }}</h5>
  </div>
</div>



<h3>Seleccione Ayudante:</h3>
<div class="flex-container">
  <div class="field">
    <p-button icon="pi pi-search" label="Buscar" (click)="showAddModalAyudante(selectedViaje)"  severity="secondary"></p-button>
  </div>
  <div class="field">
    <h5>Cedula: {{ selectedEmpleadoA?.cedula }}</h5>
    <h5> Nombre: {{ selectedEmpleadoA?.nombre }} {{ selectedEmpleadoA?.apellido }}</h5>
  </div>
</div>

<h3>Seleccione Unidad:</h3>
<div class="flex-container">
  <div class="field">
    <p-button icon="pi pi-search" label="Buscar" (click)="showAddModalUnidad(selectedViaje)"  severity="secondary"></p-button>
  </div>
  <div class="field">
    <h5>Codigo Unidad: {{ selectedUnidad?.codigoUnidad}}</h5>
    <h5> Placa:         {{ selectedUnidad?.placa }}</h5>
    <h5>Cantidad Asientos:         {{ selectedUnidad?.cantidadAsientos }}</h5>
  </div>
</div>
 

<ng-template pTemplate="footer">
        <p-button
          (click)="closeModalV()"
          label="Cancelar"
          styleClass="p-button-text"
        ></p-button>

        <p-button
          (click)="editarViaje()"
          label="Guardar"
        ></p-button>

</ng-template>
</p-dialog> 






<!-- Seleccionar ruta -->

<p-dialog

  header="Seleccionar Ruta"
  [(visible)]="displayAddModalRuta"
  [modal]="true"
  [style]="{ 'width': '60vw', 'height': '100vh' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="closeModalAddRuta()"
>

<p> Seleccione Ruta </p>
      
   
      <div class="flex-container">

        <div class="field">
          <h5>Ruta Seleccionada:</h5>
          <h5>{{ selectedRuta?.nombreRuta }}</h5>
        </div>
      
        <div class="field" >
          <p-button
          (click)="closeModalAddRuta()"
          label="Aceptar"
          class="p-button-success"
          severity="success"
          ></p-button>
          </div>
      </div>


      <div class="flex justify-content-between">
          <div class="flex justify-content-between">

            <select [(ngModel)]="selectedFilter">
              <option value="nombreCompania">Nombre de compania</option>
              <option value="nombreRuta">Nombre de Ruta</option>
              <option value="origenRuta">Origen de Ruta</option>
              <option value="destinoRuta">Destino de Ruta</option>

          </select>

          <input type="text" pInputText placeholder="SearchR " (input)="filterByR($event)" />  
      </div>

      <div class="field">
        <!-- <label class="block" for="idRuta">Ruta Seleccionada nombre: {{ selectedEmpleadoC?.cedula }}</label> -->
      </div>

  </div>

  <p-table [value]="rutas" 
  styleClass="custom-table p-datatable-gridlines"
  >  
    <ng-template pTemplate="header">
    <tr>
      <!-- <th>IDRUTA</th> -->
      <!-- <th>COMPANIA</th> -->
      <th>RUTA</th>
      <th>ORIGEN</th>
      <th>DESTINO</th>
      <!-- <th>OPCIONES</th> -->
      <!-- <th>PARADAS</th> -->
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-ruta >
  <tr >
    <!-- <td>{{ ruta.idRuta }}</td> -->
    <!-- <td>{{ ruta.nombreCompania}}</td> -->
    <td>{{ ruta.nombreRuta}}</td>
    <td>{{ ruta.origenRuta }}</td>
    <td>{{ ruta.destinoRuta}}</td>
  <td>
      <p-button
          (click)="seleccionarRuta(ruta)"
          icon="pi pi-check"
        ></p-button>
    </td>
  </tr>
  </ng-template>
</p-table>

</p-dialog>





<!-- Registrar viajes -->
<p-dialog
  header="Registrar Viaje"
  [(visible)]="displayAddModal"
  [modal]="true"
  [style]="{ 'width': '60vw', 'height': '100vh' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="closeModalAdd()"
>


<div class="flex-container">
  <div class="field">

    <p>Seleccione Ruta:</p>
    <p-button icon="pi pi-search" label="Buscar" (click)="showAddModalRuta()"  severity="secondary"></p-button>
  </div>

  <div class="field">
    <h4>Ruta: {{ selectedRuta?.nombreRuta }}</h4>
  </div>

</div>




  <form [formGroup]="viajeForm" class="viaje-form" style="margin-top: 20px">

    <div class="flex-container">

      <div class="field">
        <label class="block" for="fecha">Fecha</label>
        <div class="card flex">
          <p-calendar 
            formControlName="fecha"
            [iconDisplay]="'input'"
            [showIcon]="true"
            inputId="icondisplay"
          ></p-calendar>

          <small class="p-error block short-input" *ngIf="viajeForm.controls['fecha'].invalid && viajeForm.controls['fecha'].dirty">
            Campo requerido
          </small>

        </div>
      </div>
   
    </div>

    <div class="flex-container">

      <div class="field">

        <label class="block" for="precioNormal">Precio Normal</label>
        <p-inputNumber
          id="price"
          formControlName="precioNormal"
          class="block short-input"
          [format]="true"
          [showButtons]="true"
          [mode]="'decimal'"
          [minFractionDigits]="2"
          [maxFractionDigits]="2"
        ></p-inputNumber>
        <small
          class="p-error block"
          *ngIf="viajeForm.controls['precioNormal'].invalid && viajeForm.controls['precioNormal'].dirty"
        >
          Campo requerido
        </small>

        <label class="block" for="precioDiferenciado">Precio Diferenciado</label>
        <p-inputNumber
          id="price"
          formControlName="precioDiferenciado"
          class="block"
          [format]="true"
          [showButtons]="true"
          [mode]="'decimal'"
          [minFractionDigits]="2"
          [maxFractionDigits]="2"
        ></p-inputNumber>
        <small
          class="p-error block"
          *ngIf="viajeForm.controls['precioDiferenciado'].invalid && viajeForm.controls['precioDiferenciado'].dirty"
        >
          Campo requerido
        </small>
      </div>

      

      <div class="field">

     
        <label class="block" for="horaInicio">Hora de Inicio</label>
        <p-calendar formControlName="horaInicio" inputId="calendar-timeonly" [timeOnly]="true"></p-calendar>
        <small
          class="p-error block"
          *ngIf="viajeForm.controls['horaInicio'].invalid && viajeForm.controls['horaInicio'].dirty"
        >
          Campo requerido
        </small>
     

        <label class="block" for="horaFin">Hora de Fin</label>
        <p-calendar formControlName="horaFin" inputId="calendar-timeonly" [timeOnly]="true"></p-calendar>
        <small
          class="p-error block"
          *ngIf="viajeForm.controls['horaFin'].invalid && viajeForm.controls['horaFin'].dirty"
        >
          Campo requerido
        </small>

       
<div>
</div>
      </div>
    </div>
  </form>


  <ng-template pTemplate="footer">
    <p-button
      (click)="closeModalAdd()"
      label="Cancelar"
      styleClass="p-button-text"
    ></p-button>
    
    <p-button
      (click)="registrarViaje()"
      label="Guardar"
      [disabled]="viajeForm.invalid"
    ></p-button>
  </ng-template>
</p-dialog>

