
<p-dialog
  header="{{ modalType }} ruta"
  [(visible)]="displayAddEditModal"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="closeModal()"
>

  <form [formGroup]="rutaForm" class="ruta-form">

    <div class="field">
      <label class="block" for="nombreCompania">Nombre de Compania</label>
      <input type="text" pInputText id="nombreCompania" formControlName="nombreCompania" />
      <small
        class="p-error block"
        *ngIf="
          rutaForm.controls['nombreCompania'].invalid &&
          rutaForm.controls['nombreCompania'].dirty
        "
        >Field is required</small
      >
    </div>

    <div class="field">
      <label class="block" for="nombreRuta">Nombre de ruta</label>
      <input type="text" pInputText id="nombreRuta" formControlName="nombreRuta" />
      <small
        class="p-error block"
        *ngIf="
          rutaForm.controls['nombreRuta'].invalid &&
          rutaForm.controls['nombreRuta'].dirty
        "
        >Field is required</small
      >
    </div>

    <div class="field">
      <label class="block" for="origenRuta">Origen Ruta</label>
      <input type="text" pInputText id="origenRuta" formControlName="origenRuta" />
      <small
        class="p-error block"
        *ngIf="
          rutaForm.controls['origenRuta'].invalid &&
          rutaForm.controls['origenRuta'].dirty
        "
        >Field is required</small
      >
    </div>

    <div class="field">
      <label class="block" for="destinoRuta">Destino Ruta</label>
      <input type="text" pInputText id="destinoRuta" formControlName="destinoRuta" />
      <small
        class="p-error block"
        *ngIf="
          rutaForm.controls['destinoRuta'].invalid &&
          rutaForm.controls['destinoRuta'].dirty
        "
        >Field is required</small
      >
    </div>
    
  </form>

<ng-template pTemplate="footer">
        <p-button
          (click)="closeModal()"
          label="Cancel"
          styleClass="p-button-text"
        ></p-button>
        <p-button
          (click)="registrarRuta()"
          label="{{ modalType }}"
          [disabled]="rutaForm.invalid"
        ></p-button>
</ng-template>

 
</p-dialog>