<h2>Gestion de viajes</h2>

   
        <div class="flex justify-content-between">
            <div class="flex justify-content-between">
            <select [(ngModel)]="selectedFilter">
                <option value="codigoViaje">Codigo de viaje</option>
                <option value="fecha">Fecha</option>

            </select>

            <input type="text" pInputText placeholder="Search " (input)="filterBy($event)" />
          
        </div>
        <div class="flex justify-content-between">
            <p-button label="Agregar viaje" (click)="showAddModal()"></p-button>
        </div>

    </div>




 <p-table [value]="viajes" 
 styleClass="custom-table p-datatable-gridlines"

 >  
    <ng-template pTemplate="header">

      <tr>
        <!-- <th>idViaje</th> -->
        <th>codigoViaje</th>
        <th>Ruta</th> 
        <th>fecha</th>
        <th>horaInicio</th>
        <th>horaFin</th>
        <th>precioNormal</th>
        <th>precioDiferenciado</th>
        <th>UnidadPlaca</th>
        <th>Conductor</th>  
        <th>Ayudante</th>  
         <th>Estado</th> 
        
      </tr>

    </ng-template>
    <ng-template pTemplate="body" let-viaje >
      <tr >
        <!-- <td>{{ viaje.idViaje }}</td> -->
        <td>{{ viaje.codigoViaje }}</td>
        <td>{{ viaje.ruta?.nombreRuta }}</td> 
        <!-- <td>{{ viaje.fecha }}</td>
        <td>{{ viaje.horaInicio }}</td>
        <td>{{ viaje.horaFin }}</td> -->
        <td>{{ viaje.fecha | date: 'dd/MM/yyyy' }}</td> <!-- Muestra solo la fecha -->
        <td>{{ viaje.horaInicio | date: 'HH:mm:ss' }}</td> <!-- Muestra solo la hora de inicio -->
        <td>{{ viaje.horaFin | date: 'HH:mm:ss' }}</td> 
        <td>{{ viaje.precioNormal }}</td>
        <td>{{ viaje.precioDiferenciado }}</td>
        <td>{{ viaje.unidad?.placa }}</td>
        <td>{{ viaje.conductor?.nombre +' ' +viaje.conductor?.apellido}}</td> 
        <td>{{ viaje.ayudante?.nombre +' '+ viaje.ayudante?.apellido}}</td> 
        <td>{{ viaje.estado }}</td>
      <td>

        <button
          pButton
          icon="pi pi-pencil"
          class="p-button-rounded p-button-success mr-2"
          (click)="showEditModal(viaje)"
        ></button>

        <button
          pButton
          icon="pi pi-trash"
          class="p-button-rounded p-button-warning"
          (click)="deleteViaje(viaje)"
        ></button>

      </td>
    </tr>

    </ng-template>

  </p-table>

<app-add-edit-viaje

[displayAddEditModal]="displayAddEditModal"
[selectedViaje]="selectedViaje"
(clickClose)="hideAddModal($event)"
(clickAddEdit)="saveorUpdateViajeList($event)"

></app-add-edit-viaje>

<p-confirmDialog header="Delete"></p-confirmDialog>

<p-toast position="bottom-right"></p-toast>  

