
<p-dialog
  header="{{ modalType }} Unidad"
  [(visible)]="displayAddEditModal"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="closeModal()"
>

  <form [formGroup]="unidadForm" class="unidad-form">
    <div class="field">
      <label class="block" for="codigoUnidad">Codigo Unidad</label>
      <input type="text" pInputText id="codigoUnidad" formControlName="codigoUnidad" />
      <small
        class="p-error block"
        *ngIf="
          unidadForm.controls['codigoUnidad'].invalid &&
          unidadForm.controls['codigoUnidad'].dirty
        "
        >Field is required</small
      >
    </div>

    
    <div class="field">
        <label class="block" for="estado">Estado</label>
        <p-dropdown [options]="opcionesEstado" formControlName="estado"></p-dropdown>
      </div>

    <div class="field">
        <label class="block" for="placa">Placa</label>
        <input type="text" pInputText id="placa" formControlName="placa" />
        <small
          class="p-error block"
          *ngIf="
            unidadForm.controls['placa'].invalid &&
            unidadForm.controls['placa'].dirty
          "
          >Field is required</small
        >
      </div>

    <div class="field">
      <label class="block" for="cantidadAsientos">Cantidad de Asientos</label>
      <p-inputNumber
        id="price"
        formControlName="cantidadAsientos"
        class="block"
      ></p-inputNumber>
      <small
        class="p-error block"
        *ngIf="
          unidadForm.controls['cantidadAsientos'].invalid &&
          unidadForm.controls['cantidadAsientos'].dirty
        "
        >Field is required</small
      >
    </div>

  </form>

<ng-template pTemplate="footer">
        <p-button
          (click)="closeModal()"
          label="Cancel"
          styleClass="p-button-text"
        ></p-button>
        <p-button
          (click)="addEditUnidad()"
          label="{{ modalType }}"
          [disabled]="unidadForm.invalid"
        ></p-button>
</ng-template>

 
</p-dialog>